.upperButton, .bottomButton {
  width: 40%;
  height: 3.5rem;
  margin: 1rem 5%;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 800;
  border: solid 2px brown;
  border-radius: 0.5rem;
  background-color: white;
  color: brown;
}


.upperButton:hover, .bottomButton:hover {
  background-color: brown;
  color: white;
}